#wikiradio {
    width: 70%;
    font-weight: bold;
    font-size: 400%;
    margin: 50px auto 30px auto;
    text-align: center;
    background-color: rgba(255,100,100,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#channels {
    width: 70%;
    margin: auto;
    text-align: center;
}
#listening {
    padding: 25px;
    width: 400px;
    margin: 50px auto auto auto;
    text-align: center;
    background-color: rgba(100,255,100,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
#author {
    width: 70%;
    margin: 80px auto auto auto;
    text-align: center;
}
input#volumeslider{ 
    width: 60px;
    border-radius: 4px;
    background: rgba(100,255,100,0.8);  /* this is a green */
    
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}
